---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<!-- Hero section -->
	<!-- Background blur -->
	<div class="absolute top-0 left-1/2 md:top-[-15%] -ml-[50vw] min-h-screen w-screen pointer-events-none blur-3xl opacity-50 overflow-x-hidden">
		<div class="absolute top-[10%] right-[-40%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-10"></div>
		<div class="absolute top-[10%] left-[-40%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-10"></div>
		<div class="absolute top-[-20%] left-[-50%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div>
		<div class="absolute top-[-20%] right-[-50%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-10"></div>
	</div>
	<section class="max-w-xl mx-auto relative flex items-center justify-center min-h-screen px-4 pt-4 pb-4 sm:pt-32 sm:pb-0 sm:-mt-44">
		<div class="w-full text-center space-y-4 sm:space-y-6">
			<div class="mb-6 p-3 rounded-lg bg-gradient-to-r from-accent-one/10 to-accent-two/10 border border-accent-one/20 shadow-md">
				<p class="text-sm sm:text-base md:text-lg font-medium text-accent-two">
					<span class="font-bold text-accent-one">Theme 2025: <br class="sm:hidden"></span> Teaching and proclaiming Jesus as Messiah in church and at home. <span class="text-xs sm:text-sm text-lighter">Acts 5:42</span>
				</p>
			</div>
			<span class="title text-xl sm:text-2xl md:text-3xl lg:text-5xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent leading-tight">
				Welcome To The <br class="hidden sm:block" /> A.C.K St Stephen's Church <br class="hidden sm:block" /> Gatuanyaga Website!
			</span>
			<p class="mt-2 mb-2 sm:mt-4 sm:mb-4 text-lg sm:text-xl md:text-2xl font-medium leading-relaxed">
				Hi, Here you will find all the latest news and updates from <br class="hidden sm:block"> A.C.K St Stephen's Church Gatuanyaga.
			</p>
			
			<div class="flex flex-col sm:flex-row justify-center gap-4 mt-6 sm:mt-8">
				<a href="/notes/" class="relative flex items-center justify-center h-12 px-6 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two w-full sm:w-auto">
					<span class="text-bgColor font-semibold text-lg">
						Our Services
					</span>
				</a>
				<a href="/posts/" class="relative flex items-center justify-center h-12 px-6 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest w-full sm:w-auto">
					<span class="bg-clip-text text-transparent font-semibold text-lg bg-gradient-to-r from-accent-one to-accent-two">
						Church Notices						
					</span>
				</a>
			</div>
		</div>
	</section>
	<div class="flex justify-center mb-4">
		<SocialList />
	</div>
</PageLayout>

